

button{
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background: #ccc;
    cursor: pointer;
    text-align: center;
    margin: 20% 50%;
}

/* put at the center of the page */

button:hover{
    background: #000;
    color: #fff;
}