<!-- name :   string ; 
email :   string ;
destination :   string ; -->


<div class="single-parcel">

    <h1>Parcel Details</h1>
    <div class="parcel-details">
        <div class="parcel-detail">
            <div class="parcel-detail-label">Name</div>
            <div class="parcel-detail-value">{{parcel.name}}</div>
        </div>
        <div class="parcel-detail">
            <div class="parcel-detail-label">Email</div>
            <div class="parcel-detail-value">{{parcel.email}}</div>
        </div>
        <div class="parcel-detail">
            <div class="parcel-detail-label">Destination</div>
            <div class="parcel-detail-value">{{parcel.destination}}</div>
        </div>
        <div class="parcel-detail">
            <div class="parcel-detail-label">Status</div>
            <div class="parcel-detail-value">delivered to {{parcel.destination}}</div>
        </div>
    </div>
</div>